* {
  outline-color: red !important;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  border: 0;
  padding: 0;
  font-size: 1em;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: #dedfc7;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
}

h2,
figure {
  margin: 0;
}

button {
  cursor: pointer;
}

.wcag-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header-title {
  font-size: 0.875em;
}

.wrapper {
  width: 1345px;
  margin: 130px auto;
}

section {
  width: 320px;
  height: 265px;
  float: left;
  margin: 0 15px 15px 0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

section:nth-child(4n) {
  margin-right: 0;
}

section header {
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.add {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  background: #10174c;
  border: none;
  color: #fff;
  width: 35px;
  height: 35px;
}

.add::after {
  content: "";
  background: url("../img/icons.png") no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  background-position: 2px -23px;
}

.right {
  position: absolute;
  top: 20px;/**/
  right: 20px;/**/
  color: #fff;
}

.contain {
  padding: 25px 20px;
  display: block;
}

.right-icons {
  background: none;
  border: none;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.info {
  height: 18px;
}

.plus {
  background-position: -3px -24px;
  height: 15px;
  width: 15px;
}

.clock {
  background-position: -3px -225px;
  height: 18px;
  width: 18px;
}

/*weather*/
.left {
  color: #fff;
  text-transform: uppercase;
}

.weather {
  background: #283593;
}

.weather main {
  position: relative;
  height: 130px;
  display: block;
}

.degree {
  font-size: 4.125em;
  font-weight: 300;
  color: #fff;
  padding-left: 20px;
}

.forecast {
  background: url(../img/weather.png);
  width: 195px;
  height: 144px;
  position: absolute;
  top: 5px;
  right: -20px;
}

.forecast-mountains {
  background-position: 195px 0;
  top: -10px;
  right: -5px;
}

.time {
  background: #fff;
  height: 70px;
  z-index: 1;
  position: inherit;
}

.time li {
  display: inline-block;
  font-size: 0.875em;
  padding: 25px 0px 25px 23px;
}

.weather input[type = range]{
  -webkit-appearance: none;
  width: 320px;
  position: absolute;
  bottom: 55px;
  background: none;
  margin: 0;
  padding: 0;
}

.weather input[type = range]::-webkit-slider-runnable-track {
  border: none;
}

.weather input[type = range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 18px;
  background: url("../img/icons.png");
  background-repeat: no-repeat;
  background-position: -3px -95px;
}

/*audio / video*/

.audio-section {
  background: #10174c;
}

.audio-section main {
  height: 160px;
}

.audio-section .song-name {
  font-weight: 100;
  color: #e91e63;
  text-transform: none;
  font-size: 1.875em;
}

.audio-section form {
  background: #283593;
  padding: 15px 20px 25px 20px;
}

.audio-container {
  height: 90px;
  position: relative;
}

.audio-container img {
  position: absolute;
  bottom: 0;
}

.audio-section button {
  margin: 0 11px;
}

.audio-section .prev {
  background-position: 0 0;
}

.audio-section .play-pause {
  background-position: -25px 0;
}

.audio-section .stop {
  background-position: -50px 0;
}

.audio-section .next {
  background-position: -75px 0;
}

.audio-section .mute {
  background-position: -100px 0;
}

.audio-section .shuffle {
  background-position: -125px 0;
}

.audio-section .volume-bar {
  -webkit-appearance: none;
  width: 0px;
}

.audio .audio::-webkit-slider-runnable-track {
  border: none;
}

.audio-section .volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.audio-section .seek-bar {
  -webkit-appearance: none;
  width: 320px;
  position: absolute;
  bottom: 65px;
  left: 0;
  height: 5px;
  margin: 0;
}

.audio-section .seek-bar::-webkit-slider-runnable-track {
  border: none;
}

.audio-section .seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 35px;
  width: 30px;
  background: url("../img/controls.png");
  background-repeat: no-repeat;
  background-position: -150px 0px;
}

.audio-section input[type = range]::-moz-range-progress,
.audio-section input[type = range]::-webkit-slider-thumb:before,
.audio-section input[type = range]::-webkit-color-swatch {
  background: #e91e63;
  height: 5px;
}

.time-title {
  font-size: 0.750em;
} 

/*video*/
.video-section {
  background: #fff;
}

.video-section form {
  padding: 10px;
}

.video {
  width: 320px;
  height: 205px;
}

.controls {
  background: url("../img/controls.png") no-repeat;
  width: 20px;
  height: 30px;
  border: none;
}

.video-section .play-pause{
  background-position: -195px 3px;
  padding-left: 20px;
}

.video-section .mute {
  background-position: -220px 0;
  margin-left: 50px;
}

.video-section .volume-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40px;
  background: #e91e63;
  height: 2px;
  position: relative;
  top: -8px;
}

.video-section .volume-bar::-webkit-slider-runnable-track {
  border: none;
}

.video-section .volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.video-section .full-screen {
  background-position: -247px 0;
  float: right;
}

.video-section .seek-bar {
  -webkit-appearance: none;
  height: 5px;
  width: 320px;
  position: absolute;
  bottom: 65px;
  left: 0;
  margin: 0;
}

.video-section .seek-bar::before {
  content: "";
  background: #e91e63;
}

.video-section .seek-bar::-webkit-slider-runnable-track {
  border: none;
}

.video-section .seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 35px;
  width: 30px;
  background: url("../img/controls.png");
  background-repeat: no-repeat;
  background-position: -150px 0px;
}

.video-section input[type = range]::-moz-range-progress,
.audio-section input[type = range]::-moz-range-progress {
  background: #e91e63;
  height: 5px;
}

/*calendar*/
.calendar,
.calendar-table thead {
  background: #10174c;
}

.calendar select {
  background: #10174c;
  border: none;
}

.calendar-table {
  color: #fff;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendar-table th,
.calendar-table td {
  width: 45px;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.750em;
  cursor: pointer;
}

.calendar main {
  background: #283593;
  height: 100%;
  display: block;
}

.calendar .passed {
  color: #949ac9;
}

.today {
  border-radius: 50%;
  background: #e91e63;
  padding: 5px;
  min-width: 15px;
  display: inline-block;
}

.scheduled {
  position: relative;
}

.scheduled::after {
  content: "";
  background: #fbc02d;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 40%;
}

/*Got to do*/
.got-to-do {
  background: #fce68d;
  color: #212121;
}

.got-to-do .left {
  color: #212121;
  text-transform: none;
  font-weight: 900;
}

.got-to-do header {
  background: #fbc02d;
}

.got-to-do li {
  padding: 20px 0;
  border-bottom: dotted 1px #c9b770;
  font-style: italic;
}

.got-to-do li:first-child {
  padding-top: 0;
}

.got-to-do li:last-child {
  border: none;
}

.got-to-do label.custom-checkbox input {
   display: none;
}

.got-to-do label.custom-checkbox input + button {
  background: none;
  border: none;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 0 -385px;
  width: 20px;
  height: 15px;
  display: inline-block;
  vertical-align: bottom;
}

.got-to-do label.custom-checkbox input:checked + button {
  background: none;
  border: none;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 0 -367px;
  width: 20px;
  height: 15px;
  display: inline-block;
  vertical-align: bottom;
}

/*remind me*/
.remind-me {
  background: #fff;
}

.remind-me .left {
  text-transform: none;

}

.remind-me header {
  background: #283593;
}

.remind-me li {
  padding: 20px 0;
  border-bottom: dotted 1px #c9b770;
}

.remind-me li:first-child {
  padding-top: 0;
}

.remind-me li:last-child {
  border: none;
}

.remind-me input[type="checkbox"] {
  margin-right: 18px;
}

.remind-me .add {
  background: #e91e63;
}

.remind-me label.custom-checkbox input {
   display: none;
}

.remind-me label.custom-checkbox input + button {
  background: none;
  border: none;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 0 -72px;
  width: 25px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.remind-me label.custom-checkbox input:checked + button {
  background: none;
  border: none;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 0 -47px;
  width: 25px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
}

/*celebration*/
.celebration {
  background: #fff;
}

.celebration header {
  background: #283593;
}

.celebrate {
  text-align: center;
  display: table;
  height: 200px;
  margin: auto;
}

.celebrate figure {
  display: table-cell;
  vertical-align: middle;
}

.celebrate-name {
  font-size: 1.125em;
  font-weight: 900;
  margin-top: 10px;
}

/*sales volume*/
.sales-volume {
  background: #10174c;
}

.sales-volume figure {
  position: absolute;
  bottom: 0;
}

.sales-volume ul {
  padding: 10px 20px;
}

.sales-volume li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 90px;
}

.sales-volume li:last-child {
  margin-right: 0;
}

.graph-a {
  margin: 15px 0;
}

.graph-a::before,
.graph-b::before {
  content: "";
  width: 10px;
  height: 2px;
  background: #e91e63;
  display: inline-block;
  position: relative;
  top: -3px;
  left: -5px;
}

.graph-b::before {
  background: #fbc02d;
}

/*Activity*/
.activity {
  background: #10174c;
}

.activity label {
  display: block;
  margin-bottom: 20px;
}

.activity label.custom-radio input {
   display: none;
}

.activity label.custom-radio input + div {
  height: 25px;
  width: 30px;
  opacity: 0.5;
}

.activity label.custom-radio input:checked + div {  
  opacity: 1;
}

.bicicle {
  background-position: 0px -174px;
}

.men {
  background-position: 5px -198px;
}

.circle-graph {
  text-align: center;
  position: relative;
}

.circle-graph p {
  font-size: 1.5em;
  font-weight: 100;
  position: absolute;
  top: 60px;
  left: 120px;
  color: #fff;
}

/*Rating*/
.rating {
  background: #10174c;
}

.rating li {
  display: inline-block;
  margin: 0 7px;
}

.outer {
  width: 10px;
  height: 130px;
  overflow: hidden;    
  position: relative;
  border-radius: 4px;
  background: #1c2670;
}

.inner {
  width: 100%;
  overflow: hidden;
  position: absolute;  
  bottom: 0;
  height: 50%;
  background-color: #f6be1a;    
}

.rate {
  color: #fff;
  font-size: 0.625em;
  margin-top: 10px;
}

/*Calculator*/
.calculator {
  background: #1c266f;
}

.calculator header {
  background: #fff;
}

.calculator input {
  border: none;
  font-size: 32px;
  font-weight: 100;
  width: 320px;
  text-align: right;
  padding: 13px 0px;
  position: relative;
  right: 40px;
}

.zero-calculate button {
  font-weight: 900;
}

.calculator-table {
  border-collapse: collapse;
  table-layout: fixed;
}

.calculator th,
.calculator  td {
  width: 62px;
  height: 38px;
  text-align: center;
}

.calculator button {
  border: none;
  background: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.calculator .equally {
  position: absolute;
  right: 15px;
  bottom: 25px;
  border-radius: 50%;
  background: #e91e63;
  border: none;
  color: #fff;
  width: 35px;
  height: 35px;
  padding: 0;
}

/*Country*/
.country {
  background-color: #e91e63;
  background-image: url("../img/statue.jpg");
  background-repeat: no-repeat;
  color: #fff;
}

.country select {
  background: none;
  border: none;
}

.country option {
  background-color: #e91e63;
}

.country main {
  position: absolute;
  bottom: 0px;
}

.country-time {
  font-size: 3.750em;
  font-weight: 100;
}

.country-day {
  font-size: 1.125em;
}

.country-day span {
  font-size: 0.875em;
  text-transform: uppercase;
}

/*Starts in*/
.starts-in {
  background: #10174c;
  /* IE10+ */ 
  background-image: -ms-linear-gradient(left, #283593 50%, #10174C 50%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(left, #283593 50%, #10174C 50%);
  /* Opera */ 
  background-image: -o-linear-gradient(left, #283593 50%, #10174C 50%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50, #283593), color-stop(50, #10174C));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(left, #283593 50%, #10174C 50%);
  /* W3C Markup */ 
  background-image: linear-gradient(to right, #283593 50%, #10174C 50%);
}

.first-half {
  width: 160px;
  text-align: center;
  float: left;
}

.second-half {
  width: 160px;
  text-align: center;
  display: inline-block;
}

.number {
  font-size: 6em;
  font-weight: 300;
  color: #fff;
}

.measure {
  font-size: 0.750em;
  text-transform: uppercase;
  color: #fff;
}

/*Translate*/
.translate {
  background: #10174c;
}

.translate header{
  background: #fff;
  height: 50%;
  text-align: center;
}

.translate input {
  border: none;
  border-bottom: #e91e63 solid 2px;
  width: 285px;
  margin-top: 25px;
  padding-bottom: 10px;
  font-size: 0.875em;
}

.translate select,
.translate option {
  background: #10174c;
  border: none;
  color: #fff;
  font-size: 0.875em;
}

.translate p {
  font-size: 1.125em;
  font-weight: normal;
  color: #fff;
  margin: 10px 0px 0 5px;
}

.translation {
  position: absolute;
  right: 15px;
  bottom: 115px;
  border-radius: 50%;
  background: #e91e63;
  border: none;
  color: #fff;
  width: 35px;
  height: 35px;
}

.translation::after {
  content: "";
  background: url("../img/icons.png") no-repeat;
  width: 22px;
  height: 21px;
  display: block;
  background-position: 0px -250px;
}

/*Shedule*/
.schedule {
  background: #10174c;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
}

.schedule .contain {
  padding-bottom: 5px;
}

.date {
  font-size: 3em;
  font-weight: 100;
  padding: 0 20px;
}

.schedule main {
  height: 100px;
  display: block;
}

.schedule time {
  font-size: 1.313em;
}

.plain {
  position: relative;
}

.plain-icon {
  position: absolute;
  top: 15px;
  left: 160px;
  background: url(../img/icons.png) no-repeat;
  background-position: 0 -327px;
  width: 45px;
  height: 27px;
}

.country-fly {
  padding: 10px 0;
  font-weight: normal;
}

.departure-info {
  padding: 10px 0;
}

.line {
  width: 170px;
  height: 1px;
  background: #fbc02d;
  display: inline-block;
  position: relative;
  top: -4px;
}

.departure {
  background-position: 1px -294px;
  height: 13px;
  width: 15px;
}

.arrival {
  background-position: 1px -269px;
  height: 15px;
  width: 15px;
}

.schedule label {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.schedule label {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.schedule label.custom-radio input {
   display: none;
}

.schedule label.custom-radio input + div {
  background-color: #283593;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.schedule label.custom-radio input:checked + div {  
  background-color: #fbc02d;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}